/* formatting for the accordion being used for resume page */
/* https://www.w3schools.com/howto/howto_js_accordion.asp */
    /* Style the buttons that are used to open and close the accordion panel */

    .accordion {
      background-color: #eee;
      color: #444;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      text-align: left;
      border: none;
      outline: none;
      transition: 0.4s;
      font-size: 1.5em;
      font-weight: bold;
    }

    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .accordion:hover, .accordion:focus {
      background-color: #a43b2f;

      text-decoration: underline;
      color: white;
    }

    .active{
      background-color: #25484c;
      text-transform: uppercase;
      color: white;
    }


    /* Style the accordion panel. Note: hidden by default */
    .resume-content {
      padding: 0 18px;
      background-color: white;
      display: none;
      overflow: hidden;
    }

    .accordion:after {
      content: '\002B'; /* Unicode character for "plus" sign (+) */
      font-size: 20px;
      font-weight: bold;
      color: black;
      float: right;
      margin-left: 5px;
    }
    
    .active:after {
      content: "\2212"; /* Unicode character for "minus" sign (-) */
    }